<%- include('../partials/header') %>

<div class="container-fluid p-4 d-flex flex-row flex-wrap justify-content-center">
    <% skills.forEach(el => { %>
        <div class="card text-bg-dark mb-3 d-flex align-items-center" style="width: 10rem;">
            <div class="card-body">
                <h5 class="card-title"><%= el.name %></h5>
                <a href="/skills/<%= el.id %>" class="btn btn-primary btn-sm">Details</a>
            </div>
        </div>
    <% }); %>
    <div class="card text-bg-dark mb-3 d-flex align-items-center" style="width: 10rem;">
        <div class="card-body">
            <h5 class="card-title"> </h5>
            <a href="/skills/new" class="btn btn-primary btn-sm">Add New Skill</a>
        </div>
    </div>
</div>      
        

<%- include('../partials/footer') %>