<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <title><%= skill.name %></title>
    </head>
    <body>
        <nav>
            <ul>
            <li><a href="/skills">&lt; Back</a></li>
            </ul>
        </nav>

        <h1><%= skill.name %></h1>
        <h3>Learned: <%= skill.learned %></h3>
    </body>
</html>
