<%- include('./partials/header') %>

  <div class="container-fluid p-4">
    <p>Welcome to <%= title %>, my first Node.js + Express.js project</p>
    <p>You can check <a href="/skills">here</a> a list of skills I've been learning!</p>
  </div>
    


<%- include('./partials/footer') %>
